/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", sans-serif;
    background-color: #d11818;
    color: #333;
    line-height: 1.6;
}


/* Sección de Contacto */
.contacto {
    max-width: 1100px;
    margin: auto;
    padding: 40px 5%;
}

.contacto h1 {
    text-align: center;
    font-size: 2.2rem;
    margin-bottom: 10px;
    color: #555;
}

.contacto .intro {
    text-align: center;
    margin-bottom: 40px;
    font-size: 1.1rem;
    color: #666;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.card {
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    transition: transform 0.3s;
}



.card h3 {
    color: #555;
    margin-bottom: 10px;
}

.card p {
    font-weight: bold;
}

.card span {
    font-size: 0.95rem;
    color: #555;
}

.card.social ul {
    list-style: none;
}

.card.social li {
    margin-bottom: 5px;
}

/* Pie de página */
footer {
    background: #555;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}
.letra {
     font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
    

}
.banner { /*MARICIELO*/
    font-size: 50px;
     font-family: "Caprasimo", serif;
  font-weight: 400;
  font-style: normal;
  background-color: rgb(247, 140, 158);
}
.card:hover {
    transform: translateY(-5px);
    
}
.NOSObody {

  background-color: rgb(247, 218, 223);

}
